        <li>
                
            <p id="post-main">
                <i class="fas fa-blog"></i>&ensp;<%= post.content %>&ensp;
                <% if(locals.user && locals.user.id==post.user.id){%>
                <small>
                    <a class="delete-post-button" href="/post/destroy/<%=post.id%>"><i class="fas fa-trash-alt"></i></a>
                </small>
    
                <%}%>
                <p id="post-user-name">By: <%=post.user.name%></p>
               
            </p>
    
    
            <div class="post-comments">
    
                <% if(locals.user){%>
    
             <form action="/comment/create" method="post">
    
            <input type="text" name="content" placeholder="Add Comment here" id="add-comment">
    
            <input type="hidden" name="post" value="<%=post._id%>">
    
            <button type="submit" id="comment-button"><i class="fas fa-comments"></i></button>
    
                    </form>
    
                    <%}%>

            </div>

          <div id="post-comments-view">

            <ul type="none">

                <% for(comment of post.comments){%>

                <%-include('_comment')-%>

                <%}%>

            </ul>


          </div>
    
          </li>

          

         
    

    

