<link rel="stylesheet" href="/css/homepageStyle.css">
   
<h1 id="heading">
    Homepage Feed
</h1>


<section id="feed-posts">
    <h4>Posts</h4>

    <% if(locals.user){%>
        <form action="/post/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
            <input type="submit" value="Post">
        </form>
    <%}%>
   

    

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>
                
            <li>
                <p>
                    <%= post.content %>
                    <% if(locals.user && locals.user.id==post.user.id){%>
                    <small>
                        <a href="/post/destroy/<%=post.id%>">X</a>
                    </small>

                    <%}%>
                   
                </p>

                <p><%=post.user.name%></p>

                <div class="post-comments">

                    <% if(locals.user){%>

                        <form action="/comment/create" method="post">

                <input type="text" name="content" placeholder="Add Comment here">

                <input type="hidden" name="post" value="<%=post._id%>">

                <input type="submit" value="add comment">

                        </form>

                        <%}%>

                        <div class="post-comments-list">

                            <ul id="post-comments-<%=post._id%>">

                                <% for(comment of post.comments){%>

                                    <p>
                                       <% if(locals.user && locals.user.id==comment.user.id){%>
                                        <small>
                                            <a href="/comment/destroy/<%=comment.id%>">X</a>
                                        </small>
                                      
                                        <%}%>
                                       

                                        <%=comment.content%>
                                       <br>
                                        <%=comment.user.name%>

                                    </p>

                                    <%}%>

                            </ul>

                        </div>

                </div>

              </li>
                
            <%} %>
        </ul>
    </div>
</section>

    
