<html>

<head>

    <title>

        My Social
    </title>


    <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/headerStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/footerStyle.css">


    <%-style%>

</head>

<body>


<%-include('_header');%>

<main id="layout-main">

    <%- body %>

</main>


<%-include('_footer');%>


<%-script%>
</body>

</html>