<html>

<head>

    <title>

        document
    </title>

    <link rel="stylesheet" type="text/css" href="/css/layoutStyle.css">

    <%-style%>

</head>

<body>


<%-include('_header');%>

<%- body %>

<%-include('_footer');%>


<%-script%>
</body>

</html>